@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
.container img {
  width: 200px;
  padding-bottom: 20px;
}
.container h1 {
  padding-bottom: 20px;
}

.main .item h1 {
  color: white;
  z-index: 1;
}

.main .item {
  z-index: 1;
}

.main .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
  opacity: 0.4;
}

.main .item:hover::after {
  opacity: 0;
  transition: 0.3s;
}
.item:hover {
  transform: scale(110%);
  transition: 0.3s;
}
.m-1 {
  position: relative;
  background-image: url("/images/pic01.jpg");
  background-size: cover;
}
.m-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(152, 157, 198, 0.9);
}
.m-1:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-2 {
  position: relative;
  background-image: url("/images/pic02.jpg");
  background-size: cover;
}

.m-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(122, 186, 223, 0.9);
}
.m-2:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-3 {
  position: relative;
  background-image: url("/images/pic03.jpg");
  background-size: cover;
}

.m-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 155, 148, 0.9);
}
.m-3:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-4 {
  position: relative;
  background-image: url("/images/pic04.jpg");
  background-size: cover;
}

.m-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(198, 118, 145, 0.9);
}
.m-4:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-5 {
  position: relative;
  background-image: url("/images/pic05.jpg");
  background-size: cover;
}

.m-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(175, 155, 201, 0.9);
}
.m-5:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-6 {
  position: relative;
  background-image: url("/images/pic06.jpg");
  background-size: cover;
}

.m-6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(125, 145, 204, 0.9);
}
.m-6:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-7 {
  position: relative;
  background-image: url("/images/pic07.jpg");
  background-size: cover;
}

.m-7::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(122, 170, 195, 0.9);
}
.m-7:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-8 {
  position: relative;
  background-image: url("/images/pic08.jpg");
  background-size: cover;
}

.m-8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(97, 154, 156, 0.9);
}
.m-8:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-9 {
  position: relative;
  background-image: url("/images/pic09.jpg");
  background-size: cover;
}

.m-9::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(138, 186, 181, 0.9);
}
.m-9:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-10 {
  position: relative;
  background-image: url("/images/pic10.jpg");
  background-size: cover;
}

.m-10::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(155, 121, 159, 0.9);
}
.m-10:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-11 {
  position: relative;
  background-image: url("/images/pic11.jpg");
  background-size: cover;
}

.m-11::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(96, 119, 165, 0.9);
}
.m-11:hover::before {
  opacity: 0;
  transition: 0.3s;
}
.m-12 {
  position: relative;
  background-image: url("/images/pic12.jpg");
  background-size: cover;
}

.m-12::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(192, 125, 167, 0.9);
}
.m-12:hover::before {
  opacity: 0;
  transition: 0.3s;
}
i {
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  object-fit: cover;
  margin: 5px;
}

::placeholder {
  color: #a8a7a7;
}

input,
form {
  color: #a8a7a7;
}

input {
  border: none;
  border-bottom: solid 2px #d9d9d9;
  background-color: #f6f6f6;
  color: #a8a7a7;
}
button {
  background-color: #585858;
  border-radius: 5px;
  width: 90px;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: white;
  font-weight: bold;
}
.footer-background {
  padding-top: 70px;
}

/*------------------------------------- BENDRAS containers FLEX --------------------------------------*/
.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 100%;
  align-items: center;
  row-gap: 40px;
  margin: 0 auto;
}

.header,
.main {
  padding: 30px 30px 0 30px;
  max-width: 900px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.main .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.footer-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}
.footer-pt1 {
  width: 50%;
}
.footer-pt2 {
  width: 30%;
}

/* ---------------------------------------mobile view------------------------------------------------------ */

@media (max-width: 723px) {
  .main {
    width: 400px;
  }
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: none !important;
  }
  .footer {
    flex-direction: column-reverse;
  }
}
/* -----------------------------------------tablet view---------------------------------- */
@media (min-width: 724px) and (max-width: 1024px) {
  .main {
    width: 750px;
  }
  .footer {
    flex-direction: column-reverse;
  }
}
